div.mxTooltip {
    -webkit-box-shadow: 3px 3px 12px #C0C0C0;
    -moz-box-shadow: 3px 3px 12px #C0C0C0;
    box-shadow: 3px 3px 12px #C0C0C0;
    background: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 0;
    font-family: Arial, Vollkorn, Consolas, cursive;
    font-size: 13pt;
    position: absolute;
    cursor: default;
    padding: 4px;
    color: black;
}
